<html>
    <head>  
        {{>header}}
    </head>
    <body>
    <section class="gridcontainer">
        <h1>{{title}}</h1>
        <br></br>
            {{>navigation}}
        <div class="mainDiv">
        <h1> About Redfield Health <img alt="logo" src="images/mainlogo.svg" class = "headingIcon"></h1>
<div class ="textBox">
Welcome to the Redfield Health App.
<br></br>
Wellbeing is fundamental to human health and overall happiness. Having a strong and well-adapted sense of wellbeing can help people 
help overcome difficulties and achieve their goals.
<br></br>
It also has important social benefits improving educational attainment, economic productivity, 
social and family relationships, social cohesion and overall quality of life. Eating a healthy balanced diet, getting enough sleep and exercise, and creating healthy habits can help individuals improve their wellbeing.
<br></br>
Our goal is to help our users reach their health goals, from improving their diet, losing weight or 
building strength and fitness. Our application provides helpful information on wellbeing and allows our users to set their own goals as they pursue a healthier lifestyle.



</div>


    </div>
      
         
        </div>
          
</div>
        </section>
    </body>
</html>