<html>
    <head>  
        {{>header}}
        <script defer src="javascript/setuser.js"></script>
    </head>
    <body>
    <section class="gridcontainer">
        <h1>{{title}}</h1>
        <br></br>
            {{>navigation}}
        <div class="mainDiv">
        <div><img alt="logo" src="images/flag-icon.png" class = "profileicon" </div>
        <h1> <span id="userValue"></span> Goals</h1>
        <a href="/addgoal" class ="addGoalButton">Add Goal </a>
      <div class="textBox">
    {{#entries}}
<div class="card">
<div class="card-body">
<h4 class="card-title">{{goal}}</h4>
<div class="card-text"> Goal: {{contents}} </div>
<div> Date: {{published}} </div>
</div>
{{/entries}}
{{^entries}}
No entries yet.
{{/entries}}
</div>
      </div>
    </script>

    </div>     
        </section>
    </body>
</html>