<html>
    <head>  
        {{>header}}
    </head>
    <body>
    <section class="gridcontainer">
        <h1>{{title}}</h1>
        <br></br>
            {{>navigation}}
        <div class="mainDiv">
   <img alt="logo" src="images/mainlogo.svg" id = "logo">     
<div class ="textBox">
<a href="&#x2F;about">Log In Successful</a>
</div>
    </div>
          
        </div>
          
</div>
        </section>
    </body>
</html>