  <div class ="navigationDiv">
    <h3>Navigation</h3>
        <a href="&#x2F;" class ="navigationButton">Home <img alt="about" src="images/homepage-icon.png" class = "navIcon"></a>
        <a href="&#x2F;about" class ="navigationButton">About <img alt="about" src="images/heart-pulse-icon.png" class = "navIcon"> </a>
        <a href="&#x2F;nutrition" class ="navigationButton">Nutrition <img alt="nutrition" src="images/nutrition-protein-icon.png" class = "navIcon"> </a>
        <a href="&#x2F;fitness" class ="navigationButton">Fitness <img alt="fitness" src="images/smartwatch-heart-icon.png" class = "navIcon"> </a>
        <a href="&#x2F;sleep" class ="navigationButton">Sleep <img alt="sleep" src="images/night-sleeping-icon.png" class = "navIcon"> </a>
        <a href="&#x2F;profile" class ="navigationButton">Profile <img alt="profile" src="images/business-card-icon.png" class = "navIcon"> </a>
        <a href="&#x2F;goals" class ="navigationButton">Goals <img alt="goals" src="images/flag-icon.png" class = "navIcon"> </a>
  </div>