<html>
    <head>  
        {{>header}}
        <script defer src="javascript/setuser.js"></script>
    </head>
    <body>
    <section class="gridcontainer">
        <h1>{{title}}</h1>
        <br></br>
            {{>navigation}}
        <div class="mainDiv">
        <div><img alt="logo" src="images/male-icon.png" class = "profileicon" </div>
        <h1> <span id="userValue"></span></h1>

      <div class="textBox">
      Profile information goes here.
      </div>
    </script>

    </div>     
        </section>
    </body>
</html>