Being physically active can improve your brain health, help manage weight, reduce the risk of disease, 
strengthen bones and muscles, and improve your ability to do everyday activities. Adults who sit less 
and do any amount of moderate-to-vigorous physical activity gain some health benefits.

 Regular physical activity can help keep your thinking, learning, and judgment skills sharp as you age. 
 It can also reduce your risk of depression and anxiety and help you sleep better.

 