Heart disease and stroke are two leading causes of death in the United States. 
Getting at least 150 minutes a week of moderate physical activity can put you at a lower risk for these diseases. 
You can reduce your risk even further with more physical activity. Regular physical activity can also lower your 
blood pressure and improve your cholesterol levels.