Starchy carbohydrates should make up just over a third of the food you eat. They include potatoes, bread, rice, pasta and cereals.

Choose higher fibre or wholegrain varieties, such as wholewheat pasta, brown rice or potatoes with their skins on.

Try to include at least 1 starchy food with each main meal. Some people think starchy foods are fattening, 
but gram for gram the carbohydrate they contain provides fewer than half the calories of fat.

It's recommended that you eat at least 5 portions of a variety of fruit and veg every day. 
They can be fresh, frozen, canned, dried or juiced.

You need some fat in your diet, but it's important to pay attention to the amount and type of fat you're eating.

There are 2 main types of fat: saturated and unsaturated. Too much saturated fat can increase the amount of cholesterol in the blood, 
which increases your risk of developing heart disease.

Sugary foods and drinks are often high in energy (measured in kilojoules or calories), and if consumed too often can contribute to weight gain. 
They can also cause tooth decay, especially if eaten between meals.