In order to build muscle mass, you need a positive calorie balance – i.e. you need to consume more than you burn. 
For every pound (450g) of muscle you want to build, you’ll need to take in around 2,800 calories. 
This is mostly to support your increased protein turnover, which is likely to be elevated with training.

Moreover, research suggests that eating lean protein 15 to 20 minutes before, during, and within one hour of working out may help increase muscle mass. 
While you are unlikely to eat steaks or chicken breasts at the gym, a protein drink or supplement may be beneficial before, during, or after workouts.

You need protein to build and maintain muscle mass. To achieve this, you should be looking to eat at least 1g per 454g of body-weight. That’s 200g/day if you weigh 91kg.