Regularity is key to good sleep. You want to maintain a regular earliest possible bedtime and latest possible out of bed time over the week and weekend. 
Define your window for sleep and stick to it, 
because out of all the things you can do to get better sleep, this is one of the most beneficial ones.