As you age, it’s important to protect your bones, joints, and muscles – they support your body and help you move. 
Keeping bones, joints, and muscles healthy can help ensure that you’re able to do your daily activities and be physically active.

Muscle-strengthening activities like lifting weights can help you increase or maintain your 
muscle mass and strength. This is important for older adults who experience reduced muscle mass and muscle strength with aging. 
Slowly increasing the amount of weight and number of repetitions you do as part of muscle strengthening activities will give you 
even more benefits, no matter your age.