To lose weight, you need to eat and drink fewer calories than you burn. That's called a calorie deficit.

If you take in more than calories than you burn, then you don’t have a calorie deficit and you won’t lose weight.

There are two ways to raise your calorie deficit: changing what and how much you eat, and exercise. 
Most doctors and nutritionists suggest a combination of both for healthy weight loss.

There’s no single best approach to cutting calories. In general, as long as you cut the calories and maintain a minimum amount, you will lose weight.

A good rule of thumb for healthy weight loss is a deficit of about 500 calories per day. That should put you on course to lose about 1 pound per week. 
This is based on a starting point of at least 1,200 to 1,500 calories a day for women and 1,500 to 1,800 calories a day for men. 
It can be unhealthy to take in less than that per day. Talk to your doctor about the minimum calories you need.