1. Stick to a sleep schedule <br></br>
Set aside no more than eight hours for sleep. The recommended amount of sleep for a healthy adult is at least seven hours. 
Most people don't need more than eight hours in bed to be well rested.Go to bed and get up at the same time every day, including weekends. 
Being consistent reinforces your body's sleep-wake cycle.

<br></br>
2. Pay attention to what you eat and drink <br></br>
Don't go to bed hungry or stuffed. In particular, avoid heavy or large meals within a couple of hours of bedtime. Discomfort might keep you up.

<br></br>
3. Create a restful environment <br>
Keep your room cool, dark and quiet. Exposure to light in the evenings might make it more challenging to fall asleep. 
Avoid prolonged use of light-emitting screens just before bedtime.

Doing calming activities before bedtime, such as taking a bath or using relaxation techniques, might promote better sleep.
<br></br>
4. Limit daytime naps <br></br>
Long daytime naps can interfere with nighttime sleep. Limit naps to no more than one hour and avoid napping late in the day.

However, if you work nights, you might need to nap late in the day before work to help make up your sleep debt.
<br></br>
5. Include physical activity in your daily routine <br></br>
Regular physical activity can promote better sleep. However, avoid being active too close to bedtime.

Spending time outside every day might be helpful, too.
<br></br>
6. Manage worries <br></br>
Try to resolve your worries or concerns before bedtime. Jot down what's on your mind and then set it aside for tomorrow.

Stress management might help. Start with the basics, such as getting organized, setting priorities and delegating tasks. 
Meditation also can ease anxiety.