If you have ever felt foggy after a poor night’s sleep, it won’t surprise you that sleep significantly impacts brain function. 
First, a healthy amount of sleep is vital for “brain plasticity,” or the brain’s ability to adapt to input. 
If we sleep too little, we become unable to process what we’ve learned during the day and we have more trouble remembering it in the future. 
Researchers also believe that sleep may promote the removal of waste products from brain cells—something that seems to occur less efficiently when the brain is awake.