Research shows that lack of sleep increases the risk for obesity, heart disease and infections. 
Throughout the night, your heart rate, breathing rate and blood pressure rise and fall, a process that may be 
important for cardiovascular health. Your body releases hormones during sleep that help repair cells and control the body’s use of energy. 
These hormone changes can affect your body weight.