Most people do not need to take vitamin supplements and can get all the vitamins and minerals they need by eating a healthy, balanced diet.

Vitamins and minerals, such as iron, calcium and vitamin C, are essential nutrients that your body needs in small amounts to work properly.

Many people choose to take supplements but taking too much or taking them for too long could be harmful. 
The Department of Health and Social Care recommends certain supplements for some groups of people who are at risk of deficiency.

From around late March or early April until the end of September, most people can get all the vitamin D they need through 
sunlight on their skin and from eating a balanced diet.

However, during the autumn and winter, you need to get vitamin D from your diet because the sun is not strong enough for your body to make vitamin D.

Because it's difficult for people to get enough vitamin D from food alone, everyone (including pregnant and breastfeeding women) should consider taking a daily 
supplement containing 10 micrograms of 
vitamin D during the autumn and winter.